{
  "jsonrpc": "2.0",
  "method": "register",
  "params": {
    "scheme": [
      {
        "in": true,
        "scheme:": {

        },
        "type": "json-schema"
      }
    ],
    "service": {

    },
    "name": "test"
  },
  "id": 1
}